.transparent {
	-webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
}

.visible {
	-webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
}

.border {
	border: 1px solid black;
}