.transparent-front {
	-webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
	-webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.transparent-back {
	-webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
	-webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.visible-front {
	-webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
	-webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.visible-back {
	-webkit-transform: rotateY(-0deg);
	transform: rotateY(-0deg);
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}

.border {
	border: 1px solid black;
}