.transparent {
	-webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 1s; /* Safari */
    transition: transform 1s;
}

.visible {
	-webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 1s; /* Safari */
    transition: transform 1s;
}

.border {
	border: 1px solid black;
}